################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDA_BTree/.vs/EDA_BTree/v16/Server/sqlite3
/EDA_BTree/.vs/EDA_BTree/v15
